body {
  padding-top: 1rem;
}
.main-content {
  padding: 2rem 1.5rem;
  text-align: center;
}

#playlist-adder {
  display: none;
}

#playlist-output {
  display: none;
}

#playlist-list {
  display: none;
}

#spotify-login-btn {
  display: none;
}
